:root {
  --red-color:#9153db;
  --red-color-rgb:145,83,219;
  --red-color-darker:#843ed7;

  --green-color:#3ed784;
  --green-color-rgb:62,215,132;
  --green-color-darker:#27bb6b;

  --white-color:#fafafa; 
  --white-color-rgb:250,250,250;
  --white-color-darker:#bababa;

  --black-color:#030608;
  --black-color-rgb:3,6,8;

  --dark-gray-color:#131618;
  --dark-gray-color-rgb:30,30,30;

  --p-thickness: 3px;
  --p-thickness-hover: 1px;

  --p-border-radius: .5rem;

  --p-zz-size: 10rem;
  --p-zz-g: var(--black-color) 90deg, transparent 90deg;
  --p-zz-bg:conic-gradient(from -45deg, var(--p-zz-g)),
            conic-gradient(from 135deg, var(--p-zz-g))
            calc(var(--p-zz-size)/2) 0, var(--dark-gray-color);
  --p-zz-bg-size: var(--p-zz-size) var(--p-zz-size);


  --p-font-family: 'Montserrat', Roboto, Arial, sans-serif;
  --p-heading-font-family: 'Anton', 'Montserrat', Roboto, Arial, sans-serif;
}

@font-face {
  font-family: Anton;
  src: url(./assets/font/Anton.ttf);
}

*::selection {
  color: var(--white-color);
  background-color: var(--red-color);
}

body {
  min-height: 100%;
  overflow-x: hidden;
  font-family: var(--p-font-family);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--white-color);
  line-height: 1.675;
}

.bg-red {
  background-color: var(--red-color)!important;
}
.bg-green {
  background-color: var(--green-color)!important;
}
.bg-black {
  background-color: var(--black-color)!important;
}
.bg-white {
  background-color: var(--white-color)!important;
}

h1, h2, h3 {
  --p-heading-color: var(--white-color);
  --p-heading-color-darker: var(--white-color-darker);
  text-transform: normal;
  font-family: var(--p-heading-font-family);
  letter-spacing: 0.025rem;
  color: var(--p-heading-color);
  text-shadow: 0px var(--p-thickness) 0 var(--p-heading-color-darker);
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 7.5rem;
}
h2 {
  font-size: 6.5rem;
}
h3 {
  font-size: 3rem;
}

.color-red {
  --p-heading-color: var(--red-color);
  --p-heading-color-darker: var(--red-color-darker);
  color: var(--red-color);
  fill: var(--red-color);
}

.color-green {
  --p-heading-color: var(--green-color);
  --p-heading-color-darker: var(--green-color-darker);
  color: var(--green-color);
  fill: var(--green-color);
}


a {
  --p-anchor-color: var(--white-color);

  text-decoration: none;
  color: var(--p-anchor-color);
}

.bg-white a {
  --p-anchor-color: var(--black-color);
}

a:hover {
  color: var(--red-color);
}

p {
  font-size: 1.2em;
}

.btn-red, .btn-green {
  --p-btn-color:var(--white-color);
  --p-btn-hover-color:var(--white-color);
  --p-btn-hover-opacity: .95;
  --p-btn-focus-shadow-rgb:49,132,253;
  --p-btn-active-color:var(--white-color);
  --p-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --p-btn-disabled-color:var(--white-color);
  --p-btn-disabled-bg:var(--dark-gray-color);
  --p-btn-disabled-border-color:var(--dark-gray-color);
}
.btn-red{
  --p-btn-bg:var(--red-color);
  --p-btn-hover-bg:var(--red-color);
  --p-btn-active-bg:var(--red-color);
  --p-btn-border-color:var(--red-color-darker);
  --p-btn-hover-border-color:var(--red-color-darker);
  --p-btn-active-border-color:var(--red-color-darker);
  background: linear-gradient(120deg,var(--red-color) 0,var(--red-color-darker) 100%);
}

.btn-green{
  --p-btn-bg:var(--green-color);
  --p-btn-hover-bg:var(--green-color);
  --p-btn-active-bg:var(--green-color);
  --p-btn-border-color:var(--gren-color-darker);
  --p-btn-hover-border-color:var(--gren-color-darker);
  --p-btn-active-border-color:var(--gren-color-darker);
}

.btn {
  --p-btn-padding-y: .5rem;
  --p-btn-padding-x: 1.55rem;
  --p-btn-font-weight: 600;
  --p-btn-border-width: 0 0 var(--p-thickness);
  --p-btn-border-radius: var(--p-border-radius);
  --p-btn-font-size: .8em;
  --p-btn-letter-spacing: 0.1rem;
  --p-btn-active-border-width: 0 0 var(--p-thickness-hover);

  background-color:var(--p-btn-bg);
  border-width: var(--p-btn-border-width);
  border-style: solid;
  border-color: var(--p-btn-border-color);
  border-radius:var(--p-btn-border-radius);
  padding:var(--p-btn-padding-y) var(--p-btn-padding-x);
  font-size:var(--p-btn-font-size);
  font-weight:var(--p-btn-font-weight);
  line-height:var(--p-btn-line-height);
  letter-spacing:var(--p-btn-letter-spacing);
  color:var(--p-btn-color);

  text-transform: uppercase;
  transition: .1s;
}

.btn:hover{
  color:var(--p-btn-hover-color);
  background-color:var(--p-btn-hover-bg);
  border-color:var(--p-btn-hover-border-color);
  opacity: var(--p-btn-hover-opacity);
}

.btn-check+.btn:hover{
  color:var(--p-btn-color);
  background-color:var(--p-btn-bg);
  border-color:var(--p-btn-border-color)
}
.btn:focus-visible{
  color:var(--p-btn-hover-color);
  background-color:var(--p-btn-hover-bg);
  border-width: var(--p-btn-hover-border-width);
  border-color:var(--p-btn-hover-border-color);
  outline:0;
  box-shadow:var(--p-btn-focus-box-shadow)
}
.btn-check:focus-visible+.btn{
  border-color:var(--p-btn-hover-border-color);
  outline:0;
  box-shadow:var(--p-btn-focus-box-shadow)
}
.btn-check:checked+.btn,.btn.active,.btn.show,.btn:first-child:active,:not(.btn-check)+.btn:active{
  color:var(--p-btn-active-color);
  background-color:var(--p-btn-active-bg);
  border-color:var(--p-btn-active-border-color);
  border-width:var(--p-btn-active-border-width);
  margin-top:calc(var(--p-thickness) - var(--p-thickness-hover));
}
.btn-check:checked+.btn:focus-visible,.btn.active:focus-visible,.btn.show:focus-visible,.btn:first-child:active:focus-visible,:not(.btn-check)+.btn:active:focus-visible{
  box-shadow:var(--p-btn-focus-box-shadow)
}
.btn.disabled,.btn:disabled,fieldset:disabled .btn{
  color:var(--p-btn-disabled-color);
  pointer-events:none;
  background-color:var(--p-btn-disabled-bg);
  border-color:var(--p-btn-disabled-border-color);
  opacity:var(--p-btn-disabled-opacity)
}

.d-main-nav {
  --nav-link-font-size: .8em;
  --nav-link-text-trasnform: uppercase;
  --nav-link-font-weight: 600;
  --nav-link-letter-spacing: .1em;
  background-color: rgba(var(--black-color-rgb),.95);
  padding: 0;
}

.d-main-nav.d-tgbg {
  background: linear-gradient(rgba(var(--black-color-rgb),1), rgba(var(--black-color-rgb),0.005));
}

.d-main-nav.transparent {
  background-color: transparent;
}

.d-main-nav .navbar-brand {
  position: relative;
  font-size: inherit;
}

.d-main-nav .navbar-brand img {
  fill: var(--white-color);
  filter: drop-shadow(0 0 10px rgba(var(--black-color-rgb),.4));
  height: 4em;
  width: 8em;
  transition: .3s;
  margin-bottom: -5px;
}

.d-main-nav .navbar-brand:hover img {
  fill: var(--red-color);
}

.d-main-nav .nav-item {
  margin-right: 1rem;
  padding: .4rem 1rem;
  position: relative;
  border-radius: var(--p-border-radius);
}

.d-main-nav .nav-item:hover {
  background-color: rgba(var(--white-color-rgb),0.2);
}

.d-main-nav.d-tgbg .nav-item:hover {
  background-color: rgba(var(--black-color-rgb),0.8);
}


.d-main-nav .nav-item:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--p-thickness);
  border-radius: var(--p-border-radius);
  left:0;
  bottom: -10px;
  background-color: var(--red-color);

}

.d-main-nav .nav-link {
  padding:0;
  color: var(--white-color);
  font-size: var(--nav-link-font-size);
  text-transform: var(--nav-link-text-trasnform);
  font-weight: var(--nav-link-font-weight);
  letter-spacing: var(--nav-link-letter-spacing);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.d-main-nav .navbar-toggler {
  color: var(--white-color);
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {

  .d-main-nav .navbar-collapse.show {
      background-color: var(--black-color);
  }

  .d-main-nav .navbar-brand {
      z-index: 10;
  }
  .d-main-nav .navbar-toggler {
      z-index: 10;
  }

  .d-main-nav .navbar-toggler.collapsed .close-menu {
      display: none;
  }

  .d-main-nav .navbar-toggler:not(.collapsed) .open-menu {
      display: none;
  }

  .d-main-nav .navbar-collapse {
      background-color: var(--black-color);
      margin: -90px -.75rem;
      padding: 90px .75rem;
      z-index: 1;
  }

  .d-main-nav .nav-item {
      margin: .5rem 0;
      padding: .7rem 1.4rem;
  }

  .d-main-nav .nav-item::after {
      display: none;
  }

  .d-main-nav .nav-item:hover {
      background-color: var(--dark-gray-color);
  }

  .d-main-nav .d-nav-r {
      display: block;
      margin-top: 3rem;
      padding: .7rem 1.4rem;
      width: 100%;
  }

  .d-main-nav .d-nav-r button {
      width: 100%;
  }
}

.rg-g {
  background-color: var(--black-color);
  background: linear-gradient(50deg, rgba(var(--red-color-rgb),.9), transparent 75%),            
              linear-gradient(220deg, rgba(var(--green-color-rgb),.6), transparent 60%);
  background-size: 150% 100%;
  background-attachment:fixed;
  padding-top: calc(90px + 5.5rem);
  padding-bottom: 10.5rem;
  position: relative;
  animation: gradient 50s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

.rg-g::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  background: var(--p-zz-bg);
  background-size: var(--p-zz-bg-size);
}

.d-transp-box {
  max-width: 460px;
  color: var(--white-color);
  padding-bottom: 3rem;
}

.d-transp-box a {
  font-size: 2rem;
  display: inline-block;
}

.rg-g-wave {
  position: absolute;
  bottom: -1px;
  width: 100%;
  pointer-events: none;
}

.rg-g-wave svg {
  fill: var(--white-color);
}

footer {
  padding: 5rem 0;
  background-color: var(--dark-gray-color);
  color: var(--white-color);
  position: relative;
  padding-top: 0;

  background: var(--p-zz-bg);
  background-size: var(--p-zz-bg-size);
}

footer .footer-top {
  position: relative;
  top:0;
  width: 100%;
  pointer-events: none;
}

footer .footer-top svg {
  fill: var(--white-color);
}

footer .footer-bottom {
  font-size: 1rem;
}

footer .footer-bottom a {
  font-size: 1.25rem;
}

footer .nav-link {
  color: var(--white-color);
}

footer .nav-link:hover {
  color: var(--red-color);
}

.reveal {
  opacity: 0;
}